<!doctype html>
<html class="no-js" lang="en">
    {{ partial "head" . }}
    <body class="">
        {{- "<!--[if IE]>" | safeHTML -}}
        <p class="bg-gray-200 p-4">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/" class="text-principal-blue">upgrade your browser</a> to improve your experience and security.</p>
        {{- "<![endif]-->" | safeHTML -}}

        {{ block "main" . }}{{ end }}
        {{ partial "footer" . }}
    </body>
</html>
