{{ define "main" }}

{{ partial "nav" .}}



<div class="">
    <div class="">
        <h1 class="">{{ .Title }}</h1>
    </div>
    <div class="">
        <form class="" name="contact" method="POST" netlify-honeypot="firstname" data-netlify="true">
            <h3 class=""></h3>
            <fieldset>
                <label class="">Name
                    <input type="text" id="name" name="name" placeholder="Name" class="input">
                </label>
                <p class="hidden">
                    <label>Don’t fill this out if you're human: <input name="firstname"></label>
                </p>
                <label class="">Email
                    <input type="email" id="email" name="email" placeholder="Email" class="input">
                </label>

                <label class="">Your message
                    <textarea id="message" name="message" placeholder="Your message" rows="6" class="input"></textarea>
                </label>
            </fieldset>
            <div class="">
                <button type="submit" class="">Submit</button>
            </div>
        </form>
    </div>
</div>

{{ end }}
