{{ define "main" }}

    {{ partial "nav" .}}

    <div class="">
        <div class="">
            <h1 class="">{{.Title}}</h1>
            {{.Content}}
            <ul class="">
                {{ range .Pages.ByPublishDate.Reverse }}
                    <li class="my-2"><a href="{{.Permalink}}" class="">{{.Title}}</a></li>
                {{ end }}
            </ul>
            {{ partial "pagination" . }}
        </div>
    </div>

{{end}}
