{{ define "main" }}

    {{ partial "nav" .}}

    <div class="">
        <div class="">
            <h1 class="">{{ .Title }}</h1>
            <div class="markdown">
                {{ .Content }}
            </div>
        </div>
    </div>

{{ end }}
