<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{ .Title }} | {{.Site.Params.companyNameShort}}</title>
    <meta name="description" content="{{.Site.Params.description}}">

    <link rel="stylesheet" href="/css/main.css">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <meta name="theme-color" content="#ffffff">

    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
</head>
