<nav class="overflow-x-scroll sm:overflow-x-visible sm:flex sm:justify-between items-end bg-white relative px-4">

	<a href="/" class="block w-48 mx-auto sm:mx-4 my-1">
		<img src="/img/logo.svg" alt="{{.Site.Params.companyNameShort}}" class="h-24 rounded-none block">
	</a>

</nav>
