{{ if gt .Paginator.TotalPages 1 }}

<nav class="">
    {{ if .Paginator.HasNext }}
    <a class="" title="Next Page" href="{{ .Paginator.Next.URL }}">
        &larr; Previous
    </a>
    {{ end }}
    <div class="">
        {{ if .Paginator.HasPrev }}
        <a class="" title="Previous Page" href="{{ .Paginator.Prev.URL }}">
            Next &rarr;
        </a>
        {{ end }}
    </div>
</nav>

{{ end }}
