{{ define "main" }}

    {{ partial "nav" .}}

    <div class="bg-white pt-4 pb-8">
        <div class="px-4 max-w-3xl mx-auto">
            <h1 class="text-blue-500 text-5xl uppercase leading-none mb-4 md:mb-8">404: Page not found</h1>
            <div class="">
                Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ .Site.BaseURL }}" class="text-blue-500">Head back home</a> to try finding it again.
            </div>
        </div>
    </div>

{{ end }}
