/* Nothing before base/preflight */
/*noinspection ALL*/
@tailwind base;

/* Brand fonts and sizes */


/*noinspection CssInvalidAtRule*/
@tailwind components;

.button {
    @apply bg-transparent border font-semibold py-2 px-4 rounded;
}
.button:focus,
.button:hover {
    @apply border-transparent outline-none text-white;
}
.button-blue {
    @apply border-blue-500 text-blue-500;
}
.button-blue:focus,
.button-blue:hover {
    @apply bg-blue-500;
}
.input {
    @apply appearance-none border border-gray-500 leading-tight mt-2 py-2 px-3 rounded shadow text-gray-700 w-full;
}
.input:focus {
    @apply outline-none shadow-outline;
}

/* For markdown generated content */
.markdown > h2 {
    @apply text-blue-500 text-xl uppercase mb-4 mt-8;
}
.markdown > h3 {
    @apply text-blue-500 text-lg mb-4 mt-8;
}
.markdown > p {
    @apply mb-4;
}
.markdown > ol {
    @apply list-decimal pl-8 mb-4;
}
.markdown > ul {
    @apply list-disc pl-8 mb-4;
}
.markdown > ol > li > ul {
    @apply list-disc pl-8;
}
.markdown a {
    @apply underline text-blue-500;
}
.markdown pre {
    @apply overflow-auto my-4 bg-gray-300;
}
.markdown code {
    @apply block p-4;
}
.markdown hr {
    @apply my-4 border border-solid;
}

/*noinspection ALL*/
@tailwind utilities;
